/* 清样式，如果是项目中，不推荐使用通配符来清样式，建议使用标签清样式，通配符清样式会增加页面压力 */
		* {
			margin: 0;
			padding: 0;
		}

		.box {
			width: 100%;
			height: 100%;
			margin: 0 auto;
		}

		/* input隐藏 */
		input {
			display: none;
		}

		/* 将ul相对定位，目的是让内容的div绝对定位时相对ul定位，否则会相对body定位 */
		/* ul弹性盒，目的是让li横着排，也可以将li浮动或者转行内块 */
		ul.list {
			position: relative;
			display: flex;
		}

		/* 设置input的下一个节点label的样式 */
		input+label {
			display: block;
			width: 100%;
			height: 100%;
			background: #ccc;
			font-size: 18px;
			text-align: center;
			line-height: 60px;
			color: #31363a;
		}

		/*消除列表圆点*/
		li.table {
			flex: 1;
			height: 60px;
			list-style: none;
		}

		/* 设置div内容的基础样式 隐藏内容div*/
		input+label+div {
			display: none;
			position: absolute;
			left: 0;
			top: 70px;
		}

		/* input选中状态时候对应的label的样式 */
		input:checked+label {
			background: #1C89CC;
			color: #fff;
		}

		/* input选中时候显示对应的div */
		input:checked+label+div {
			display: block;
		}


body{
    font-family: "微软雅黑", sans-serif;
    font-size: 30px;
    padding: 10px 16px 30px 42px;
}
title{
    color: #1C89CC;
}
ol	{
    padding: 0;
    list-style: none;
}
li	{
    margin: 0;
    border-bottom: 1px solid #E0E0DF;
    font-size: 30px;
    padding: 10px 16px 30px 22px;
}
li>p:first-child{
		font-weight: bold;
		font-size: 18px;
		}
p	{
		font-size: 18px;
		}
p{ word-wrap:break-word; word-break:normal; }.code
		{
    	background-color: #ff6b8b;
    	text-align: center;
    	border: 1px solid #2292DD;
    	padding: 12px 10px;
    	border-radius: 30px;
		color: #FFFFFF;
    	}
	select{
		padding-left:50%;
		padding: 6px 6px 6px 6px;
		width: 100%;
		height: 50px;
		font-size: 30px;
		border-radius: 30px;
		}
    input[type=radio],
    input[type=checkbox]{
		zoom:2;
		vertical-align:middle;
		}
    input[type=tel],
    input[type=text],
    input[type=number]
		{
		box-sizing: border-box;/*注释*/
		width: 100%;
		height: 50px;
		font-size: 30px;
		padding: 6px 10px;
		border: 1px solid #8EA8C7;
		box-shadow: 1px B1px 5px #dfdfdf inset;
		border-radius:30px;}
	textarea {
		box-sizing: border-box;
		width: 100%;
		height: 50px;
		font-size: 18px;
		padding: 6px 10px;
		border: 1px solid #8EA8C7;
		box-shadow: 1px B1px 5px #dfdfdf inset;
		border-radius:30px;}

	.Android_iOS {
		background-color: #f458f4;
		}
	.Android {
		background-color: #39DA83;
		}
	.iOS {
		background-color:#ABAAB8;
		}
	.pre {
			width: 100%;
			overflow-x: auto;
			font-size: 30px;
			user-select: all;
			-webkit-user-select: all;
		}
		/* .picbBox{
			width: 80px;
			float: left;
		} */
	.img{
			width: 30px;
			height: 30px;
		}
	.bigPic{
			width: 30px;
			height: 30px;
		}
	.ComboBox{
			background-color: #F0FFFF;
		}
